<ng-container *ngIf="(counter$ | async) > -1">
  <h3 class="counter">Nombre de partie : {{counter$ | async}}</h3>
</ng-container>

<ng-template #player let-p>
  <div class="player mat-elevation-z8 player" fxLayout="column" fxLayoutAlign="center center">
    <h1> {{p.name}} </h1>
    <h4>Score : {{p.score}}</h4>
    <img *ngIf="p.gesture" src="assets/images/{{p.gesture}}.jpg">
  </div>
</ng-template>

<div fxLayout="row" fxLayoutAlign="space-around center" class="container" fxLayoutWrap>
  <ng-container *ngTemplateOutlet="player; context: { $implicit: p1 }"></ng-container>
  <div fxLayout="column" fxLayoutGap="20px">
    <button mat-raised-button (click)="newGame()" color="primary">New game</button>
    <button mat-raised-button (click)="battle()" color="primary">Battle</button>
    <button mat-raised-button (click)="resetScore()" color="primary">Reset score</button>
  </div>
  <ng-container *ngTemplateOutlet="player; context: { $implicit: p2 }"></ng-container>
</div>
